{% extends 'layouts/layout.html' %}

{% block content %}
<div class="box-info">
    <div class="box-info-single solucionados">
        <div class="info-text">
            <h3>Solicitações Atendidas</h3>
            <p>2.000</p>
        </div>
        <i class="fa-solid fa-circle-check"></i>
    </div>

    <div class="box-info-single em-andamento">
        <div class="info-text">
            <h3>Solicitações em Andamento</h3>
            <p>150</p>
        </div>
        <i class="fa-solid fa-hourglass-half"></i>
    </div>

    <div class="box-info-single agendadas">
        <div class="info-text">
            <h3>Solicitações Agendadas</h3>
            <p>50</p>
        </div>
        <i class="fa-solid fa-calendar"></i>
    </div>

    <div class="box-info-single satisfacao">
        <div class="info-text">
            <h3>Nível de Satisfação</h3>
            <p>92%</p>
        </div>
        <i class="fa-solid fa-star"></i>
    </div>
</div>

<div class="row row-grafico">
    <div class="grafico-donut">
        <p class="titulo-graficos">Gravidade das Solicitações</p>
    </div>

    <div class="grafico-bar">
        <p class="titulo-graficos">Tipos de Solicitações no Ano</p>
    </div>
</div>

<div class="row grafico-mapa">
    <div class="mapa-container">
        <div class="mapa-cidade w-100">
            <p class="titulo-graficos">Solicitações por Bairro</p>
            <div id="mapa"></div>
            <div class="tooltip" id="tooltip"></div>
        </div>

        <div class="demais-info">
            <div class="categoria-solicitacao-bairro">
                <p class="titulo-graficos">Categoria das Solicitações por Bairro</p>
                <div class="grafico-barra-categoria"></div>
            </div>
        </div>
    </div>
</div>

<div class="line">
    <div class="grafico-mapa-cidade"></div>
</div>

{% endblock %}

{% block scripts %}
<script text="type/javascript">
    $(document).ready(function(){
        // Gráfico de Donut: Gravidade das Solicitações
        var options = {
          series: [44, 55, 14],
          chart: {
            type: 'donut',
            width: 450,
            height: 450,
          },
          labels: ['Alta', 'Média', 'Baixa'],
          colors: ['#FF5370', '#FFC107', '#1ec06f'], 
          responsive: [{
            breakpoint: 480,
            options: {
              chart: { width: 300, height: 300 }
            }
          }]
        };
        var chart = new ApexCharts(document.querySelector(".grafico-donut"), options);
        chart.render();

        // Gráfico de Barras: Tipos de Solicitações no Ano
        var options = {
          series: [{
            name: 'Pavimentação asfáltica',
            data: [44, 55, 41, 67, 22, 43, 0, 0, 0, 0, 0, 0]
          }, {
            name: 'Recapeamento',
            data: [13, 23, 20, 8, 13, 27, 0, 0, 0, 0, 0, 0]
          }, {
            name: 'Tapa Buraco',
            data: [11, 17, 15, 15, 21, 14, 0, 0, 0, 0, 0, 0]
          }, {
            name: 'Reposição de Tampa de Bueiro de Metal',
            data: [21, 7, 25, 13, 22, 8, 0, 0, 0, 0, 0, 0]
          }, {
            name: 'Reposição de Boca de Lobo',
            data: [44, 55, 41, 67, 22, 43, 0, 0, 0, 0, 0, 0]
          },{
            name: 'Manutenção de Boca de Lobo',
            data: [44, 55, 41, 67, 22, 43, 0, 0, 0, 0, 0, 0]
          }],
          chart: {
            type: 'bar',
            height: 350,
            stacked: true,
            toolbar: { show: true },
            zoom: { enabled: true }
          },
          plotOptions: {
            bar: {
              horizontal: false,
              borderRadius: 10,
              dataLabels: { total: { enabled: true } }
            },
          },
          xaxis: {
            type: 'category',
            categories: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']
          },
          legend: { position: 'right', offsetY: 40 },
          fill: { opacity: 1 }
        };
        var chart = new ApexCharts(document.querySelector(".grafico-bar"), options);
        chart.render();

        // Gráfico de Barras Categoria
        var options = {
          series: [{
            name: 'Solicitações',
            data: [10, 0, 2, 0, 0, 0]
          }],
          chart: { height: 500, type: 'bar' },
          plotOptions: {
            bar: {
              borderRadius: 10,
              dataLabels: { position: 'top' }
            }
          },
          dataLabels: {
            enabled: true,
            formatter: (val) => val,
            offsetY: -20,
            style: { fontSize: '12px', colors: ["#304758"] }
          },
          xaxis: {
            categories: ["Tapa Buraco", "Pavimentação", "Repor Tampa de Bueiro", "Frestagem", "Sinalização Viária", "Terraplanagem"],
            position: 'top',
            axisBorder: { show: false },
            axisTicks: { show: false }
          },
          yaxis: { labels: { show: false } }
        };
        var chart = new ApexCharts(document.querySelector(".grafico-barra-categoria"), options);
        chart.render();
    })
</script>
{% endblock %}
